<div class="mar-t-default">
  <h1 class="cv-title">Cécile Ferrier</h1>
  <h3>FRONTEND DEVELOPER</h3>
  <div class="selfie"></div>
  <section class="cv-section">
    <section class="cv-experience align-right">
      <cv-introduction></cv-introduction>
      <cv-experience></cv-experience>
    </section>
    <div class="divider"></div>
    <section class="cv-skills-education align-right">
      <cv-skills [title]="'Coding'"></cv-skills>
      <cv-education></cv-education>
    </section>
  </section>
</div>
