@import '../../../assets/styles/colors';

:host {
  display: block;
  position: absolute;
  top: 0;
}

.side-panel {
  height: calc(100% - 60px);
  width: 200px;
  margin-left: -202px;
  margin-top: -202px;
  background-color: $dark-green;
  border: 1px solid $dark-grey;
  border-top: 0;

  transition: all ease 500ms;

  &.open {
    margin-left: 0;
    margin-top: 60px;
  }
}
