@import 'colors';
@import 'variables';

@font-face {
  font-family: 'Lato';
  src: url("/src/assets/fonts/Lato-Regular.ttf") format("ttf");
}

body {
  background-color: $light-green;
  margin: 0;
  overflow: auto;
  font-family: 'Lato', sans-serif;
}

a {
  color: $white;
  text-decoration: none;
  transition: all ease $average-speed;
}
